<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% comment %} 「seo」はcontext.processors.pyのSEOList関数を参照． {% endcomment %}
    <meta name="keywords" content="{{seo.meta_keywords}}">
    <meta name="description" content="{{seo.meta_description}}">
    <meta property="og:title" content="{{seo.meta_prop_ogTitle}}">
    <meta property="og:image" content="{{seo.meta_prop_ogImage}}">
    <meta property="og:image:width" content="{{seo.meta_prop_ogWidth}}">
    <meta property="og:image:height" content="{{seo.meta_prop_ogHeight}}">
    <meta property="og:description" content="{{seo.meta_prop_ogDescription}}">
    <meta property="og:site_name" content="{{seo.meta_prop_ogSiteName}}">
    <meta property="og:url" content="{{seo.meta_prop_ogUrl}}">
    <meta name="twitter:image:src" content="{{seo.meta_twi_imgSrc}}">
    <meta name="twitter:title" content="{{seo.meta_twi_title}}">

    <meta name="google-site-verification" content="QE-DnDG-2Lz2GO9BMzO_r1dNno7cH5zs_rMVz58SIC4" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="Article">
    <meta name="twitter:card" content="summary_large_image">

    {% comment %} 「layout」はcontext.processors.pyのLayoutList関数を参照． {% endcomment %}
    <title>{{ layout.home_top_title }}</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "website",
            "name": "{{seo.page_title}}",
            "image": [ "{{seo.meta_prop_ogImage}}" ],
            "author": {
            "@type": "Person",
            "name": "{{seo.page_title}}"
            }
        }
    </script>

    <!-- Your custom styles (optional) -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <div class="sticky-top">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style='background-color: #FFB300;'>

            <!-- Navbar brand -->
            <a class="navbar-brand" href="/">{{ layout.home_top_title }}</a> {% comment %} 「layout」はcontext.processors.pyを参照． {% endcomment %}

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:index' %}">ホーム画面へ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">投稿等</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'myapp:post_create' %}">新規投稿</a>
                            <a class="dropdown-item" href="{% url 'myapp:post_list' %}">投稿一覧</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">カテゴリ</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            {% for item in category_list %} {% comment %} 「category_list」はcontext.processors.pyのAll_Category関数を参照． {% endcomment %}
                            <a class="dropdown-item" href="{% url 'myapp:category_detail' item.name %}">{{ item.name }}</a>
                            {% endfor %}
                            <hr>
                            <a class="dropdown-item" href="{% url 'myapp:category_list' %}">カテゴリ一覧</a>
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'myapp:category_create' %}">カテゴリ作成</a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:like_list' %}">お気に入り</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="account" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">アカウント</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="account">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item">{{ request.user }}</a>
                            <a class="dropdown-item" href="{% url 'myapp:logout' %}">ログアウト</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'myapp:login' %}">ログイン</a>
                            <a class="dropdown-item" href="{% url 'myapp:signup' %}">ユーザー登録</a>
                            {% endif %}
                        </div>
                    </li>

                    {% if request.user.is_superuser %} {% comment %} 管理ユーザーのみ操作可能 {% endcomment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">カスタマイズ</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/admin" target="_blank">管理画面へ</a>
                            <a class="dropdown-item" href="{% url 'myapp:seo_list' %}">SEO</a>
                            <a class="dropdown-item" href="{% url 'myapp:bbs_list' %}">掲示</a>
                            <a class="dropdown-item" href="{% url 'myapp:layout_list' %}">ページレイアウト</a>
                        </div>
                    </li>
                    {% endif %}
                    
                </ul>

                <!-- Links -->
                <form action="{% url 'myapp:search' %}" class="form-inline" method="POST">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="Search" ,
                        name="freeword">
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </div>
    <main class='container'>

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}


        {% block content %}
        {% endblock %}
    </main>

    <!-- /Start your project here-->

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    {% comment %}
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                    {% endcomment %}
                    
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 offset-md-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">【リンク】</h5>
                        <ul class="list-unstyled">
                            <li>
                                <h10><a href="https://www.udemy.com/course/web_django_ver3/">(参考教材(udemy))【Python/Django3】Webアプリ作成からデプロイまで！
Django3.1対応！すぐに使える実践的なWebアプリケーションを作って、世界に公開しよう！</a></h10>
                            </li>
                            {% comment %}
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        {% endcomment %}
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© {{ current_year }} Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->




    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>

</html>