{% extends 'myapp/base.html' %}
{% block content %}
{% if request.user == like.user %}
<div class="row">
    <div class="col-md-8 offset-md-1">
        <form method="POST">
        {% csrf_token %}
            <br><br>
            <h1>以下の投稿をお気に入りから削除しますか？<a href="/" onclick="window.history.back();" class="btn btn-outline-dark">戻る</a>
                <button  class="btn btn-danger" type="submit" value="削除">削除する</button></h1>
            <br>
            <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>画像</th>
                            <th width="200px">タイトル</th>
                            <th width="200px">内容</th>
                            <th width="200px">作成日時<br>更新日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <!--LikeテーブルとPostテーブルのidカラムを一致させて，お気に入りのページへ移動する-->
                            <td><img class="card-img-top" src="{{ object.post.thumbnail.url }}" alt="{{object.title}}"></td>
                            <td>{{ object.post }}</td>
                            <!--以下のobject.post.content～はPostテーブルのカラムcontentを表示している-->
                            <td>{{ object.post.content|safe|truncatechars_html:25 }}</td>
                            <td>{{ object.post.created_at.date }}<br>{{ object.post.updated_at.date }}</td>
                        </tr>
                    </tbody>
                </table>
        </form>
    </div>
</div>
{% else %}
<br>
<p>このページは特定のユーザー専用です．</p>
<br>
{% endif %}
{% endblock %}